/*! grid.css @ 2017, yamoo9.net */
@import 'setting';

 //설계(Design)
$toggle-classname: 'show-grid';
// 기본 글꼴 사이즈
 $base-font-size  : 14px !default;
 // 글줄 사이(행간)
 $guide-height: 100vh;
 $leading-scale: 1.5;
 $leading: $base-font-size * $leading-scale;
 // 컬럼의 총 개수
 $columns         : 12;
 // 컬럼의 폭
 $column-width    : 70px;
 // 컬럼 가이드 색상
 $gutter-position : 'split';
 // 거터 간격
 $gutter-width    : 20px;

 // 페이지 총 폭의 길이를 구하는 함수
 // 70px * 12 + 20px
 // ($column-width * $gutter-width) * $columns
 $page-width: ($column-width + $gutter-width) * $columns;



/* -----------------------------------------------------------------------------
 * Toggle Grid Module
 * 브라우저 뷰에 그리드 가이드를 토글(보임/감춤)하는 스타일 모듈
 * .show-grid
 */
.#{$toggle-classname} {
  position: relative;
}
.#{$toggle-classname}::before,
.#{$toggle-classname}::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100vh;
}
.#{$toggle-classname}::before {
  z-index: 10000;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg, transparent 20px, #0cf 20px);
  background-size: 1px 21px;
}
.#{$toggle-classname}::after {
  z-index: 10010;
  left: 50%;
  width: 1080px;
  background: linear-gradient(
    90deg,
    transparent 10px,
    $column-color 10px,
    $column-color 80px,
    transparent 80px
  );
  background-size: 90px 1px;
  transform: translateX(-50%);
}

/* -----------------------------------------------------------------------------
 * Container Module
 * 그리드 요소들을 감싸는 블록(Block) 모듈
 * .container
 */
.container {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

/* -----------------------------------------------------------------------------
 * Row Module
 * 컬럼을 감싸는 로우(행) 모듈
 * .row
 */
.row{
  &::after{
    content: '';
    display: block;
    clear: both;
  }
}
.row.is-nesting > :first-child {
  margin-left: 0;
}
.row.is-nesting > :last-child {
  margin-right: 0;
}
/* -----------------------------------------------------------------------------
 * Nesting Row Module
 * 중첩 로우(행) 모듈
 * .row.is-nesting
 */

/* -----------------------------------------------------------------------------
 * Column Module
 * 컬럼(열) 모듈
 * .col.is-*
 *
 * 컬럼 개수에 따른 폭(width) 구하는 공식
 * = 컬럼_폭 × 컬럼_개수 + 거터_폭(합) * (컬럼_개수 - 1)
 * calc( 70px * $i + (10px * 2) * ($i - 1) )
 */
.col {
  float: left;
  margin-left: $half-gutter-width;
  margin-right: $half-gutter-width;
}

@function column-width($n:1) {
  @return $column-width * $n + $gutter-width * ($n - 1);
}

@for $i from 1 through $columns{
  .is-#{$i} { 
    width: column-width($i);
  }
  // offeset Module
  // 컬럼 핸들링 모듈
  // .is-offset-*
  .is-offset-#{$i} {

  }
}

