body {
  font-family: 'NanumSquareOTFRegular';
}

.container {
  padding-top: 42px;
}

.header-logo {
  margin-top: 0;
  margin-bottom: 0;
}

.logo-image {
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
  position: relative;
}

legend {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.input {
  width: 100%;
  height: 41px;
  border: 2px solid #333;
}

.header-search {
  width: 380px;
  position: relative;
}

.header-search.is-offset-1 {
  margin-left: 80px;
}

.icon-search-wrapper {
  width: 20px;
  height: 20px;
}

.icon-search {
  position: absolute;
  top: 21px;
  right: 7px;
  padding: 11.5px 15px;
  text-decoration: none;
  cursor: pointer;
  font-size: 0px;
  background-image: url("../../images/icons/icons.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 -210.6px;
  height: 14px;
}

.header-info a {
  text-decoration: none;
  color: #991717;
  padding: 5px 15px;
  border: 1px solid transparent;
}

.header-info.is-offset-2 {
  margin-left: 170px;
}

.info-1:hover, .info-2:hover {
  border: 1px solid #991717;
  border-radius: 3px;
}

.nav-list {
  float: left;
  margin: 0;
  padding: 0;
}

.nav-list li {
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 16.4px;
}

.nav-list a {
  color: #333;
  padding: 5px 15px;
}

.nav-list li:not(:first-child) a:hover {
  color: #991717;
  border-bottom: 2px solid #991717;
}

.nav-list li:first-child a {
  color: #fff;
  background: #bd1d31;
  border-radius: 3px;
  padding-left: 17px;
}

.nav-wrapper {
  margin-top: 20px;
}

.nav-filter {
  position: absolute;
  width: 100%;
}

.filter-set {
  background: #f0f0f0;
  border-top: 3px solid #bd1d31;
  border-bottom: 1px solid #ddd;
  height: 42px;
  overflow: hidden;
}

.filter-set p {
  height: 38px;
  margin: 0;
  text-align: center;
  line-height: 3;
  color: #991717;
}

.filter-set form {
  padding-top: 22px;
}

.filter-set span {
  vertical-align: super;
  font-size: 1.75rem;
  padding-right: 19px;
  line-height: 1;
}

.filter-set:hover {
  background: #f0f0f0;
  border-top: 3px solid #bd1d31;
  border-bottom: 1px solid #ddd;
  height: 232px;
  transition: bottom 0.5s ease-in-out;
}

.filter-set .filter-image {
  position: absolute;
  top: 17px;
  left: 565px;
  width: 15px;
  height: 13px;
  background-image: url("../../images/icons/icons.svg");
  background-size: 19px auto;
  background-repeat: no-repeat;
  background-position: 0 -58px;
}

.filter-set .filter-age, .filter-set .filter-style {
  padding-bottom: 18px;
}

.filter-set .filter-age fieldset, .filter-set .filter-style fieldset {
  display: inline-block;
}

.filter-set .filter-age .filter-age-wrapper, .filter-set .filter-age .filter-style-wrapper, .filter-set .filter-style .filter-age-wrapper, .filter-set .filter-style .filter-style-wrapper {
  float: left;
  font-size: 1.2rem;
}

.filter-set .filter-age input, .filter-set .filter-style input {
  display: none;
}

.filter-set .filter-age input:checked, .filter-set .filter-age input:hover, .filter-set .filter-age input:focus, .filter-set .filter-style input:checked, .filter-set .filter-style input:hover, .filter-set .filter-style input:focus {
  background: #bd1d31;
}

.filter-set .filter-age label, .filter-set .filter-style label {
  display: inline-block;
  width: 70px;
  height: 21px;
  background-color: #aaa;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  line-height: 2;
  cursor: pointer;
}

.filter-set .filter-age label:checked, .filter-set .filter-age label:hover, .filter-set .filter-age label:focus, .filter-set .filter-style label:checked, .filter-set .filter-style label:hover, .filter-set .filter-style label:focus {
  background: #bd1d31;
}

.filter-set .filter-button {
  padding-top: 25px;
}

.filter-set .filter-button .filter-button-wrapper {
  width: 225px;
  margin: 0 auto;
}

.filter-set .filter-button button {
  font-size: 1.5rem;
  color: #fff;
  padding: 6px 22px;
  border: transparent;
  border-radius: 25px;
  background: #aaa;
  cursor: pointer;
}

.filter-set .filter-button .filter-button-done {
  background: #bd1d31;
  margin-left: 5px;
}

.banner img {
  padding-top: 42px;
}

.carousel {
  width: 200px;
  margin: 0 auto;
  padding-top: 20px;
}

.carousel::after {
  content: "";
  display: block;
  clear: both;
}

.carousel div {
  float: left;
  background: #ccc;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.carousel div:hover, .carousel div:focus {
  background: #bd1d31;
}

.bestseller {
  padding-top: 29px;
}

.bestseller h2 {
  margin: 0;
}

.bestseller [class^=best-] {
  height: 360px;
  border: 1px solid #ddd;
  margin-top: 16px;
  padding: 0 20px;
}

.bestseller :nth-child(2) {
  margin-left: 0;
}

.bestseller :nth-child(5) {
  margin-right: 0;
}

.bestseller .image-best {
  padding-top: 20px;
}

.bestseller .best-1:hover, .bestseller .best-2:hover, .bestseller .best-3:hover, .bestseller .best-4:hover {
  border: 1px solid #991717;
}

.bestseller .best-text {
  margin-top: 9px;
  padding: 0;
  border: transparent;
}

.bestseller .best-text p {
  margin: 0;
  line-height: 1.4;
}

.bestseller .best-text h3 {
  margin: 0;
  padding-top: 15px;
  font-size: 1.4rem;
}

.bestseller .best-text :nth-child(3) {
  padding-top: 22px;
  color: #991717;
  font-size: 1.75rem;
}

.bestseller .heart.heart1 {
  float: right;
  margin-top: 4px;
  cursor: pointer;
  background: transparent;
  border: transparent;
  background-image: url("../../images/icons/icons.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0px -111px;
  height: 15px;
  width: 20px;
  overflow: hidden;
}

.bestseller .heart.heart1:focus {
  background-image: url("../../images/icons/icons.svg");
  background-repeat: no-repeat;
  background-position: 0px -96px;
}

h2 {
  margin: 0;
}

.icon-heart {
  cursor: pointer;
  float: right;
  margin: 4px 10px 3px 0;
  background: url("../../images/icons/icons-like-before.svg") no-repeat;
  border: transparent;
  height: 15px;
}

.icon-heart:focus {
  background: url("../../images/icons/icons-like-after.svg") no-repeat;
  border: transparent;
  height: 15px;
}

[class^=brand-text-] {
  position: relative;
  top: 82px;
  left: 0;
  width: 100%;
  height: 20px;
  background: #000;
  opacity: 0.8;
}

.brand-box-title {
  color: #fff;
  padding-left: 9px;
  line-height: 1.5;
}

.brand-heading {
  margin: 40px 0 18px 0;
}

.brand-1 {
  margin-left: 0;
  background: url("../../images/brand/brand-01.jpg") no-repeat;
  width: 100%;
  height: 100%;
  width: 250px;
  height: 147px;
}

.brand-1 .brand-1-name {
  position: relative;
  top: 54px;
  left: 74px;
  color: #fff;
  font-size: 2.6rem;
  text-shadow: 1px 2px 10px black;
}

.brand-2 {
  background: url("../../images/brand/brand-02.jpg") no-repeat;
  width: 250px;
  height: 147px;
}

.brand-2 .brand-2-name {
  position: relative;
  top: 54px;
  left: 88px;
  color: #fff;
  font-size: 2.6rem;
  text-shadow: 1px 2px 10px black;
}

.brand-2 .brand-2-text {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: #000;
  opacity: 0.8;
}

.brand-3 {
  background: url("../../images/brand/brand-03.jpg") no-repeat;
  width: 250px;
  height: 147px;
}

.brand-3 .brand-3-name {
  position: relative;
  top: 54px;
  left: 64px;
  color: #fff;
  font-size: 2.6rem;
  text-shadow: 1px 2px 10px black;
}

.brand-3 .brand-3-text {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: #000;
  opacity: 0.8;
}

.brand-4 {
  margin-right: 0;
  background: url("../../images/brand/brand-04.jpg") no-repeat;
  width: 250px;
  height: 147px;
}

.brand-4 .brand-4-name {
  position: relative;
  top: 54px;
  left: 38px;
  color: #fff;
  font-size: 2.6rem;
  text-shadow: 1px 2px 10px black;
}

.brand-4 .brand-4-text {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: #000;
  opacity: 0.8;
}

.brand-button {
  position: relative;
}

.brand-button .pre {
  position: absolute;
  top: 0;
  left: -32px;
  background: #f0f0f0;
  border: 2px solid #ddd;
  height: 147px;
  width: 22px;
  background-image: url("../../images/icons/icons-tri-left.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: 3px 68px;
}

.brand-button .next {
  position: absolute;
  top: 0;
  right: -32px;
  background: #f0f0f0;
  border: 2px solid #ddd;
  height: 147px;
  width: 22px;
  background-image: url("../../images/icons/icons-tri-right.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: 5px 68px;
}

.brandnew {
  margin-top: 41px;
}

.brandnew h2 {
  margin: 0;
}

.brandnew [class^=brandnew-] {
  height: 360px;
  border: 1px solid #ddd;
  margin-top: 16px;
  padding: 0 20px;
}

.brandnew :nth-child(2) {
  margin-left: 0;
}

.brandnew :nth-child(5) {
  margin-right: 0;
}

.brandnew .image-brandnew {
  padding-top: 20px;
}

.brandnew .brandnew-1:hover, .brandnew .brandnew-2:hover, .brandnew .brandnew-3:hover, .brandnew .brandnew-4:hover {
  border: 1px solid #991717;
}

.brandnew .brandnew-text {
  margin-top: 9px;
  padding: 0;
  border: transparent;
}

.brandnew .brandnew-text p {
  margin: 0;
  line-height: 1.4;
}

.brandnew .brandnew-text h3 {
  margin: 0;
  padding-top: 15px;
  font-size: 1.4rem;
}

.brandnew .brandnew-text :nth-child(3) {
  padding-top: 22px;
  color: #991717;
  font-size: 1.75rem;
}

.brandnew .heart.heart1 {
  float: right;
  margin-top: 4px;
  cursor: pointer;
  background: transparent;
  border: transparent;
  background-image: url("../../images/icons/icons.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0px -111px;
  height: 15px;
  width: 20px;
  overflow: hidden;
}

.brandnew .heart.heart1:focus {
  background-image: url("../../images/icons/icons.svg");
  background-repeat: no-repeat;
  background-position: 0px -96px;
}

.tip .tip-heading-box .tip-heading {
  padding: 40px 0 42px 0;
  display: inline-block;
  width: 85px;
  height: 20px;
}

.tip .tip-heading-box .tip-carousel {
  float: right;
  padding-top: 45px;
}

.tip .tip-heading-box .tip-carousel::after {
  content: "";
  display: block;
  clear: both;
}

.tip .tip-heading-box .tip-carousel div {
  float: right;
  background: #ccc;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.tip .tip-heading-box .tip-carousel div:hover {
  background: #bd1d31;
}

.tip-1 {
  margin-left: 0;
}

.tip-3 {
  margin-right: 0;
}

.best-review {
  margin-top: 39px;
}

.best-review h2 {
  margin: 0;
}

.best-review [class^=best-review-] {
  height: 335px;
  border: 1px solid #ddd;
  margin-top: 16px;
  padding: 0 20px;
}

.best-review :nth-child(2) {
  margin-left: 0;
}

.best-review :nth-child(7) {
  margin-right: 0;
}

.best-review .image-best-review {
  padding-top: 20px;
}

.best-review .best-review-1:hover, .best-review .best-review-2:hover, .best-review .best-review-3:hover, .best-review .best-review-4:hover, .best-review .best-review-5:hover, .best-review .best-review-6:hover {
  border: 1px solid #991717;
}

.best-review .best-review-text {
  margin-top: 9px;
  padding: 0;
  border: transparent;
  width: 115px;
  height: 65px;
}

.best-review .best-review-text p {
  margin: 0;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.best-review .best-review-text h3 {
  margin: 0;
  padding-top: 15px;
  font-size: 1.4rem;
}

.best-review .best-review-text :nth-child(3) {
  padding-top: 22px;
  color: #991717;
  font-size: 1.75rem;
}

.best-review .heart.heart1 {
  float: right;
  padding: 0;
  margin-top: 4px;
  cursor: pointer;
  background: transparent;
  border: transparent;
  background-image: url("../../images/icons/icons.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 4.5px -111px;
  height: 15px;
  width: 20px;
  overflow: hidden;
}

.best-review .heart.heart1:focus {
  background-image: url("../../images/icons/icons.svg");
  background-repeat: no-repeat;
  background-position: 4.5px -96px;
}

.best-review .starpoint {
  margin-left: 20px;
}

.best-review .starpoint .star {
  float: left;
  margin-top: 75px;
  cursor: pointer;
  background: transparent;
  border: transparent;
  background-image: url("../../images/icons/icons.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0px -140px;
  height: 10px;
  width: 15px;
}

ul {
  margin: 0;
  padding: 0;
}

ul .info-list1 {
  margin-left: 110px;
}

ul li {
  list-style: none;
  float: left;
}

ul a {
  color: #fff;
  padding: 0 40px;
  border-left: 1px solid #fff;
  line-height: 3;
}

ul .info-list-4 {
  border-right: 1px solid #fff;
}

.footer-info {
  margin-top: 44px;
  height: 40px;
  background: #555;
  width: 100%;
}

footer .address {
  line-height: 1.9;
  font-size: 1.2rem;
  font-style: normal;
  width: 580px;
  height: 44px;
  float: left;
}

footer .address p {
  margin: 0;
  display: inline-block;
}

footer .address span {
  font-weight: bold;
  padding-right: 7px;
}

footer .copyright {
  line-height: 1.9;
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
}

footer .customercenter {
  line-height: 1.4;
  float: right;
}

footer .customercenter h2 {
  font-size: 2rem;
}

footer .customercenter p {
  margin: 0;
  display: inline-block;
}

footer .customercenter .call {
  color: #bd1d31;
  font-size: 2.7rem;
  font-weight: bold;
}

footer .footer-icons {
  margin-top: 25px;
}

footer .footer-icons .icons-links-1 {
  float: left;
  width: 29px;
  height: 22px;
  background-image: url("../../images/icons/icons.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0px -314px;
}

footer .footer-icons .icons-links-2 {
  float: left;
  width: 29px;
  height: 22px;
  background-image: url("../../images/icons/icons.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0px -292px;
}

footer .footer-icons .icons-links-3 {
  float: left;
  width: 29px;
  height: 22px;
  background-image: url("../../images/icons/icons.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0px -66px;
}

footer .footer-icons .icons-links-4 {
  float: left;
  width: 29px;
  height: 22px;
  background-image: url("../../images/icons/icons.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0px -336px;
}

footer .footer-icons .icons-links-5 {
  margin-right: 5px;
  float: left;
  width: 23px;
  height: 23px;
  background-image: url("../../images/icons/icons.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0px -87px;
}

footer .footer-icons .footer-partner {
  float: right;
  margin-right: 55px;
  width: 205px;
  height: 26px;
  background-image: url("../../images/footer/partner.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@font-face {
  font-family: 'NanumSquareOTFLight';
  font-style: normal;
  font-weight: 400;
  src: url("../../font/NanumSquareOTFLight.otf") format("opentype");
}

@font-face {
  font-family: 'NanumSquareOTFRegular';
  font-style: normal;
  font-weight: 400;
  src: url("../../font/NanumSquareOTFRegular.otf") format("opentype");
}

@font-face {
  font-family: 'NanumSquareOTFBold';
  font-style: normal;
  font-weight: 700;
  src: url("../../font/NanumSquareOTFBold.otf") format("opentype");
}

@font-face {
  font-family: 'NanumSquareOTFExtraBold';
  font-style: normal;
  font-weight: 700;
  src: url("../../font/NanumSquareOTFExtraBold.otf") format("opentype");
}

/*# sourceMappingURL=../../map/stylesheet.css.map */