@import '_settings.scss';
@import '_mixin';
// banner 영역
.banner{
    img{
        padding-top: 42px;
    }
}
.carousel{
    width: 200px;
    margin: 0 auto;        
    padding-top: 20px;
    @include clearfix;
    div{
        float: left;
        background: #ccc;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        margin-right: 10px;
        cursor: pointer;
    }
    div:hover, div:focus{
        background: #bd1d31;
    }
}
