@font-face{
    font-family: 'NanumSquareOTFLight';
    font-style: normal;
    font-weight: 400;
    src: url('../../font/NanumSquareOTFLight.otf') format('opentype');
}
@font-face{
    font-family: 'NanumSquareOTFRegular';
    font-style: normal;
    font-weight: 400;
    src: url('../../font/NanumSquareOTFRegular.otf') format('opentype');
}
@font-face{
    font-family: 'NanumSquareOTFBold';
    font-style: normal;
    font-weight: 700;
    src: url('../../font/NanumSquareOTFBold.otf') format('opentype');
}
@font-face{
    font-family: 'NanumSquareOTFExtraBold';
    font-style: normal;
    font-weight: 700;
    src: url('../../font/NanumSquareOTFExtraBold.otf') format('opentype');
}