// Sass 라이브러리 모듈 로드
@import "yamoo9/yamoo9";

// 스타일 디자인
.box{
    @include fixed(top 30px right 30px z-index 1000);
    @include size(100px auto);
    @include bg-color(#333, 0.45);
    @include color (#fff);
    @extend %center-box-block;
    // text-align: center;
    // line-height: 100px;
}